<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		#parse("./common/meta.html")
		<title>Halo kit</title>
		<link rel="icon" sizes="any" href="/img/pc_img/pc_img/icon.png" />
		<link rel="stylesheet" href="/css/pc_css/all.css" />
		<link rel="stylesheet" href="/css/pc_css/layers.css" />
		<link rel="stylesheet" type="text/css" href="/dist/css/pc_css/sprite.css">
		<link rel="stylesheet" type="text/css" href="/dist/css/pc_css/swiper-3.3.1.min.css">
		<link rel="stylesheet" href="/dist/css/pc_css/index.css" />
	</head>

	<body>
		#parse ('./common/header.html')
		<div style="padding-top: 75px; max-width: 1200px;" class="bc">
			<div class="service">
				<img src="/img/pc_img/business_one.png" style="width: 100%; height: 300px; background-color: #fff;" />
				<div style="padding: 60px 0 75px 190px; line-height: 2; font-size: 16px;">
					<h2 style="font-size: 26px; color: #333;">客户服务</h2>
					<p>客服电话 ：400-775-9206</p>
					<p>客服邮箱 ：service@pet-more.cn</p>
				</div>
			</div>
			<div class="business">
				<img src="/img/pc_img/business_two.png" style="width: 100%; height: 300px; background-color: #fff;" />
				<div style="padding: 60px 0 75px 190px; line-height: 2; font-size: 16px;">
					<h2 style="font-size: 26px; color: #333;">商务合作</h2>
					<p>联系人 ：郑先生</p>
					<p>手机号 ：15121047289</p>
					<p>邮箱 ：zhengjc@pet-more.cn</p>
				</div>
			</div>
		</div>
		#parse ("./common/footer.html")#parse ("./common/service.html")#parse ("./common/subscription.html")
		<script src="/dist/js/jq.js"></script>
		<script src="/dist/js/jq.cookie.js"></script>
		<!--<script src="/js/pc_js/index.js"></script>-->
		<script src="/js/pc_js/service.js"></script>
	</body>

</html>