<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		#parse("./common/meta.html")
		<title>Halo kit</title>
		<link rel="icon" sizes="any" href="/img/pc_img/pc_img/icon.png" />
		<link rel="stylesheet" href="/css/pc_css/all.css" />
		<link rel="stylesheet" href="/css/pc_css/layers.css" />
		<!--<link rel="stylesheet" type="text/css" href="/dist/css/pc_css/sprite.css">
		<link rel="stylesheet" type="text/css" href="/dist/css/pc_css/swiper-3.3.1.min.css">-->
		<link rel="stylesheet" href="/dist/css/pc_css/index.css" />
	</head>

	<body>
		#parse ('./common/header.html')
		<div style="padding-top: 60px;" class="bc">
			<img src="/img/pc_img/know_one.png" class="w1" />
			<div style="height: 1000px;">
				<figure class="w1100 bc pr">
					<div style="padding-top: 50px;">
						<p class="day-record fs32">Halo Kit</p>
						<p class="ch-record fs18 mb50 lh2">HaloKit是派慕科技旗下精英品牌。全心专注于消费者科技及宠物可穿戴设备。秉承健康、时尚、快乐的企业基因，依托数据科学及前瞻性研发、制造实力，致力于构建硬件与软件整合伴生平台，令宠物与主人之间，互动生活智能同步，妙趣横生。</p>
						<p class="ch-record fs18 mb40 lh2">HaloKit 通过丰富产品线设置，多维覆盖：宠物实时定位追踪、宠物体质健康及人宠亲密互动、喂食辅助建议、炫彩发光夜间警示等日常智能化宠物生活所需，全面呵护宠物身心安全。</p>
						<p class="ch-record fs18 mb40 lh2">HaloKit在坚实做强功能的同时，更加强调产品的视觉和使用体验。前卫的设计语言及高科技、高规格材料的使用，不仅使得爱宠倍受功能保障，更能带来前所未有的健康、时尚和舒适礼遇。</p>
						<p class="ch-record fs18 mb40 lh2">HaloKit 总部位于上海。前沿之都，无限可能。宠物与人，『无线』亲近。</p>
					</div>
				</figure>
				<figure style="height: 434px;padding-top: 80px;" class="w1100 bc pr tac">
					<img src="/img/pc_img/know_two.png" width="260"/>
					<div style="padding-top: 160px;" class="tal">
						<p class="ch-record fs18 mb50 lh2">Halo即是光芒，是可以汇成圆环的光芒，光芒抚慰心灵；圆环温柔环抱。</p>
					</div>
				</figure>
			</div>
		</div>
		#parse ("./common/footer.html")#parse ("./common/service.html")#parse ("./common/subscription.html")
		<script src="/dist/js/jq.js"></script>
		<script src="/dist/js/jq.cookie.js"></script>
		<!--<script src="/js/pc_js/index.js"></script>-->
		<script src="/js/pc_js/service.js"></script>
	</body>

</html>