@charset 'utf-8';
html,
body {
    height: 100%;
}

.personal-wrap {
    height: 100%;
}

/* 微信头像和名称 */
.user-wechat {
    padding: 20px 0;
    height: 100px;
    background-color: #bcc91c;
}

.user-wechat .img-name {
    height: 50%;
    width: 200px;
    left: 30px;
    line-height: 100px;
}

.img-name .head-img {
    height: 90px;
    width: 90px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #fff;
}

.img-name .wechat-name {
    vertical-align: top;
    color: #fff;
}

/* 商品状态 */
.status-list li {
    float: left;
    width: 25%;
    height: 40px;
    color: #cfd85d;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #f3f5d6;
    box-sizing: border-box;
}
.status-list li:first-child {
    border-left: 0;
}

.status-list .choose-status {
    border-bottom: 1px solid #f3f5d6;
    background-color: #bcc91c;
    color: #f3f5d6;
}

/* 订单详情 */
.order-details {
    width: 100%;
    padding: 10px;
    color: #9c9d9d;
    box-sizing: border-box;
}

.order-content {
    border: 1px solid #bcc91c;
    border-radius: 4px;
    height: 100%;
    margin: 8px 0;
    padding: 10px 15px;
}

.pro-params li {
    float: left;
    min-width: 60px;
    height: 70px;
    padding: 10px 0 10px 5px;
}

.pro-params li .order-params {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.for-totalnum {
    bottom: -39px;
}


.status-pay .status-need {
    position: relative;
    bottom: -2px;
}
.status-pay .need-pay {
    color: #bcc91c;
    font-size: 16px;
}

.go-pay .pay-btn {
    background-color: #bcc91c;
    border-radius: 4px;
    color: #fff;
    padding: 7px 0;
}
.pro-params ul {
    width: 100%;
    overflow: hidden;
}
a.link {
    text-decoration: underline;
    color: blue;
}