@charset 'utf-8';
html,
body {
    height: 100%;
}

.choose-all {
    height: 100%;
}


/* 选择界面上半 */

.choose-top {
    height: 50%;
}


/*ring carousel*/

.ring-con {
    width: 1000%;
}

.ring-con img {
    opacity: .4;
    max-width: 80%;
    max-height: 100%;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s;
}

.ring-scale img {
    opacity: 1;
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


/* 选择界面下半 */

.choose-bottom {
    overflow: auto;
    box-sizing: border-box;
    height: 50%;
    padding-bottom: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
}

.choose-bottom .pro-title {
    height: 20px;
}

.choose-bottom .pro-title .pro-name {
    font-size: 18px;
    padding-left: 30px;
}

.choose-bottom .pro-title .pro-details {
    font-size: 14px;
    top: -4px;
    padding: 2px 7px;
    color: #fff;
    border-radius: 6px;
    background-color: #bcc91c;
}


/* 尺寸、颜色选项 */

.ch-size-color td {
    max-width: 230px;
    padding: 5px 0;
}

.ch-size-color td:first-child {
    font-size: 14px;
    max-width: 40px;
    padding-left: 30px;
    vertical-align: top;
    color: #aaa;
}

.ch-size-color .for-color {
    color: #c9c9c9;
}


/* 尺寸 */

.choose-size {
    display: inline-block;
    line-height: 32px;
    font-size: 16px;
    min-width: 32px;
    height: 32px;
    text-align: center;
    margin: 0 6px 6px 0;
    color: #c6c5c4;
    border: 1px solid #ccc;
    padding: 0 5px;
    box-sizing: border-box;
}

.choose-size.checked {
    color: white;
    border-color: #898989;
    background-color: #898989;
}


/* 价格 */

.tip-price {
    font-size: 22px;
    color: #bcc91c;
}

.tip-price span {
    font-size: 20px;
}


/* 加入购物车 */

.add-cart {
    bottom: 10px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.add-cart a {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    margin: 0 23px;
    color: #fff;
    border-radius: 6px;
    background-color: #bcc91c;
}

.block {
    line-height: 32px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100px;
    height: 32px;
    margin: 0 6px 6px 0;
    padding: 0 10px;
    text-align: center;
    color: #c6c5c4;
    border: 1px solid;
}

.block.disabled {
    color: #ececec;
}

.block.checked {
    color: white;
    border-color: #898989;
    background-color: #898989;
}

.block > .choose-color {
    float: left;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    margin: 8px 0;
    color: inherit;
    border: 1px solid;
    border-radius: 50%;
    background-color: white;
}

.white > .choose-color {
    background-color: #f3dec4;
}

.black > .choose-color {
    background-color: #444;
}

.pink > .choose-color {
    background-color: #f2a3aa;
}

.cafe > .choose-color {
    background-color: #655956;
}

.tac.disabled {
    color: white;
    border-color: #898989;
    background-color: #898989;
}
.size-tip{
    color: #999;
    margin-top: -1.2em;
}