@charset 'utf-8';

/**
 * 中间主体内容
 */


/* one */

.desc-one {
    height: 950px;
    background: url(/img/pc_img/bg-one.jpg) no-repeat;
    background-size: cover;
}


/* 内容底部白色 section -div -one*/


/* 前两个section公用底部div */

.desc-btm {
    bottom: 0;
    width: 100%;
    height: 310px;
    background: rgba(255, 255, 255, .9) url(/img/pc_img/bt-wave.png) repeat center center;
}

.desc-btm figure {
    height: 310px;
}

.full-record {
    width: 425px;
    height: 200px;
}

.day-record {
    line-height: 3em;
    letter-spacing: 2.5px;
    color: #333;
}

.ch-record {
    line-height: 1.5em;
}

.phone-img {
    right: 175px;
    bottom: 35px;
}


/* two */

.desc-two {
    height: 950px;
    background: url(/img/pc_img/bg-two.jpg) no-repeat fixed;
    background-size: cover;
}

.ring-one {
    top: -60px;
}

.two-record {
    right: 100px;
    width: 425px;
    height: 200px;
}


/* three */

.desc-three {
    height: 915px;
    background: url(/img/pc_img/bg-three.jpg) no-repeat fixed;
    background-size: cover;
}

.desc-bg {
    bottom: 0;
    width: 100%;
    height: 310px;
    background-color: rgba(255, 255, 255, .96);
}

.ring-three {
    top: -90px;
}


/* size-color */

.choose-size,
.swiper-pagination-bullet {
    display: inline-block;
    line-height: 32px;
    font-size: 16px;
    min-width: 32px;
    width: auto;
    height: 32px;
    text-align: center;
    margin: 0 6px 6px 0;
    color: #c6c5c4;
    border: 1px solid #ccc;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 0;
}

.choose-size.checked,
.choose-size.swiper-pagination-bullet-active {
    color: white;
    border-color: #898989;
    background-color: #898989;
}

.form {
    height: 220px;
    margin-top: 50px;
}

.size-color {
    width: 300px;
}

.size-color td {
    max-width: 240px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.size-color td:first-child {
    max-width: 45px;
    padding-left: 0;
    color: #959696;
    vertical-align: top;
}

.size-color td:first-child span {
    top: -4px;
    color: #ababac;
}

.btn-size-before {
    color: #c6c5c4;
}

.btn-size-after {
    color: #fff;
    background-color: #ababac;
}

.size-color .choose-color {
    line-height: 36px;
    width: 100px;
    height: 36px;
    text-align: center;
    border: 1px solid #ccc;
}

.btn-color-before {
    color: #c6c5c4;
}

.btn-color-after {
    color: #fff;
    background-color: #ababac;
}


/* 颜色选取小圆圈 */

.block {
    line-height: 32px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100px;
    height: 32px;
    margin: 0 6px 6px 0;
    padding: 0 10px;
    text-align: center;
    color: #c6c5c4;
    border: 1px solid;
}

.block.disabled {
    color: #ececec;
}

.block.swiper-pagination-bullet-active {
    color: white;
    border-color: #898989;
    background-color: #898989;
}

.block.swiper-pagination-bullet > .choose-color {
    float: left;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    margin: 8px 0;
    color: inherit;
    border: 1px solid;
    border-radius: 50%;
    background-color: white;
}

.white.swiper-pagination-bullet > .choose-color {
    background-color: #f3dec4;
}

.black.swiper-pagination-bullet > .choose-color {
    background-color: #444;
}

.pink.swiper-pagination-bullet > .choose-color {
    background-color: #f2a3aa;
}

.cafe.swiper-pagination-bullet > .choose-color {
    background-color: #655956;
}

.swiper-slide img{
    width: 100%;
}
.swiper-slide-next img, .swiper-slide-prev img{
    width: 80%;
}
.swiper-slide-shadow-left, .swiper-slide-shadow-right{
    background-image: none !important;
}
/* 价格 */

.price {
    letter-spacing: 1px;
    color: #bcc91c;
}

.join-cart {
    line-height: 2.5em;
    width: 275px;
    color: #bcc91c;
    border: 1px solid #bcc91c;
}


/**
 * 参数参考
 */

.para-refer {
    background: url(/img/pc_img/bt-wave.png) left bottom no-repeat;
    background-size: 100%;
}

.para-bg {
    height: 100%;
}

.para-text {
    font-size: 15px;
    line-height: 44px;
    height: 44px;
    padding-left: 12px;
    color: #bcc91c;
    border-bottom: 2px solid #e2e2e2;
}


/* li */

.para-bg > ul > li {
    font-size: 15px;
    float: left;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #737373;
    border-bottom: 2px solid #e2e2e2;
}

.li-left {
    width: 210px;
    margin-right: 40px;
    text-align: center;
}

.li-right {
    width: 840px;
    padding-left: 10px;
}

.para-bg ul .size-weight {
    padding-top: 45px;
    padding-bottom: 5px;
}

.size-weight .right-text {
    top: -20px;
    right: 120px;
}

.para-bg .right-text .right-circle {
    width: 86px;
    height: 86px;
    border: 1px solid #ccc;
}

.para-bg .right-circle span {
    top: 61px;
    left: 4px;
    width: 78px;
    height: 1px;
    background-color: #d7d7d7;
}

.para-bg .right-text .right-he {
    left: 15px;
    display: inline-block;
    width: 1px;
    height: 86px;
    background-color: #ccc;
}

.right-he::before {
    position: absolute;
    left: -4px;
    width: 9px;
    height: 1px;
    content: '';
    background-color: #ccc;
}

.right-he::after {
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 9px;
    height: 1px;
    content: '';
    background-color: #ccc;
}

.para-bg .right-text .right-mm {
    top: -30px;
    left: 25px;
}


/* li - bottom */

.li-btm-left {
    width: 210px;
    height: 230px;
    margin-right: 40px;
}

.li-btm-right {
    width: 850px;
    height: 230px;
}

.ios-text {
    top: -86px;
}

.and-text {
    top: -9px;
}


/*图片动画*/

@keyframes imgmove {
    0% {
        transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(0, -60px, 0);
        -ms-transform: translate3d(0, -60px, 0);
        -moz-transform: translate3d(0, -60px, 0);
        -webkit-transform: translate3d(0, -60px, 0);
        -o-transform: translate3d(0, -60px, 0);
    }
    75% {
        transform: translate3d(0, 60px, 0);
        -ms-transform: translate3d(0, 60px, 0);
        -moz-transform: translate3d(0, 60px, 0);
        -webkit-transform: translate3d(0, 60px, 0);
        -o-transform: translate3d(0, 60px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
    }
}

.img-animate {
    animation: imgmove 12s infinite linear;
    -webkit-animation: imgmove 12s infinite linear;
    -o-animation: imgmove 12s infinite linear;
    -moz-animation: imgmove 12s infinite linear;
    -ms-animation: imgmove 12s infinite linear;
}

