@charset 'utf-8';

/**
 * main-section
 */
.change-index {
    width: 1100px;
    height: 650px;
    padding-top: 60px;
    background: url(/img/pc_img/passw_bg.png) no-repeat 50px top;
}

.change-box {
    right: 65px;
    top: 210px;
}
.change-box input {
    width: 300px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.change-box .old-password {
    margin-bottom: 50px;
}

.change-box input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 12px;
}

.change-box input::-moz-placeholder {
    color: #ccc;
    font-size: 12px;
}

.change-box input::-ms-input-placeholder {
    color: #ccc;
    font-size: 12px;
}

.change-box button {
    width: 317px;
    color: #bcc91c;
    background-color: #f9f8d9;
    border: 1px solid #c7d13f;
    padding-top: 10px;
    padding-bottom: 10px;
}