@charset 'utf-8';


/**
 * main
 */


/* section-bg */

.choose-info {
    background: url(/img/pc_img/lb_bg.png) no-repeat left bottom;
    height: 1100px;
    padding-top: 60px;
    border-bottom: 2px solid #f5f5f5;
}


/* for-width */

.for-wid {
    width: 1100px;
}


/* address-info */

.part-choose {
    height: 225px;
}

.part-choose p {
    letter-spacing: 1px;
}

.part-choose .ch-address {
    border-top: 1px solid #ccc;
    padding: 20px;
}

.ch-address .detail-addr {
    border: 2px solid #bcc91c;
    width: 290px;
    height: 140px;
    color: #bcc91c;
    margin-right: 40px;
}

.ch-address .edit-addr {
    border: 2px solid #ccc;
    width: 290px;
    height: 140px;
    color: #999;
    margin-right: 40px;
}

.ch-address .edit-addr i {
    left: -10px;
    top: -10px;
}

.ch-address .add-addr {
    border: 2px solid #ccc;
    width: 320px;
    height: 160px;
    color: #ccc;
}


/* add-addr-info */

.add-info p {
    letter-spacing: 1px;
}

.add-info .add-tab {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    height: 260px;
}

.add-tab .tab-info tr td:first-child {
    max-width: 100px;
    color: #959696;
    padding-left: 0;
    letter-spacing: 1px;
    font-size: 15px;
}

.add-tab .tab-info tr td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
}

.add-tab .tab-info td .ipt-info {
    width: 380px;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ipt-info::-webkit-input-placeholder {
    color: #ccc;
}

.ipt-info::-moz-placeholder {
    color: #ccc;
}

.ipt-info::-ms-input-placeholder {
    color: #ccc;
}

/* address */
.addr-sel {
    width: 130px;
    border: 1px solid #ccc;
    color: #ccc;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 11px;
}
.addr-sel option {
    height: 37px;
    background-color: #fff;
}

/* invoice */

.tab-info .is-invoice {
    width: 12px;
    height: 12px;
    top: 3px;
    border: 1px solid #ccc;
}

.tab-info .no-invoice {
    width: 10px;
    height: 10px;
    top: 3px;
    border: 2px solid #bcc91c;
}


/* product-list */

.pro-list p {
    letter-spacing: 1px;
}

.pro-list .pro-para {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    height: 100px;
}

.pro-list .pro-para li {
    float: left;
    margin-right: 40px;
    min-width: 170px;
    height: 100px;
    color: #959696;
}


/* use-benefit */
.use-benefit span {
    color: #959696;
}

.use-benefit .total-pro {
    width: 200px;
    height: 200px;
    left: -40px;
}

.use-benefit .total-pro p span {
    font-size: 15px;
    letter-spacing: 1px;
}

.use-benefit .total-pro p .fo-col {
    color: #bcc91c;
}

.use-benefit .total-pro p .fo-siz {
    font-size: 22px;
}

.total-pro .close-acco {
    border: 2px solid #bcc91c;
    width: 196px;
    color: #bcc91c;
}