<!--<h4 class="title mui-text-center mui-ellipsis">2017年萌宠活动月 鸡年大吉</h4>
<h6 class="title mui-text-center">2017年萌宠活动月 鸡年大吉</h6>
<h6 class="createtime mui-text-center">发布时间：2017-1-5 21：00</h6>-->
<div class="content">
	<img src="http://7xwshy.com1.z0.glb.clouddn.com/754824630801227642.jpg" />
	<div class="img-group">
		<img src="http://7xwshy.com1.z0.glb.clouddn.com/dog_sofa_01.png">
		<img src="http://7xwshy.com1.z0.glb.clouddn.com/dog_sofa_02.png">
		<img src="http://7xwshy.com1.z0.glb.clouddn.com/dog_sofa_03.png">
		<img src="http://7xwshy.com1.z0.glb.clouddn.com/dog_sofa_04.png">
		<img src="http://7xwshy.com1.z0.glb.clouddn.com/dog_sofa_05.png">
		<img src="http://7xwshy.com1.z0.glb.clouddn.com/dog_sofa_06.png">
	</div>

</div>