<!DOCTYPE html>
<html>

	<head>
		#parse("./common/meta.html")
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-app-status-bar-style" content="white">
		<meta name="format-detection" content="telephone=no">
		<!-- 适应移动端 begin -->
		<!-- uc强制竖屏 -->
		<meta name="screen-orientation" content="portrait">
		<!-- QQ强制竖屏 -->
		<meta name="x5-orientation" content="portrait">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- UC应用模式 -->
		<meta name="browsermode" content="application">
		<!-- QQ应用模式 -->
		<meta name="x5-page-mode" content="app">
		<!-- windows phone 点击无高光 -->
		<meta name="msapplication-tap-highlight" content="no">
		<!-- 适应移动端 end -->
		<!-- 公共加载css begin-->
		<!-- CSS -->
		<link href="/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/dist/website/css/font-awesome.min.css" rel="stylesheet" media="screen">
		<!-- Custom styles CSS -->
		
		<!-- 公共加载css end-->
		<title>Halo kit 可点 App 下载</title>
	</head>

	<body>
		
		
		
		<!-- Javascript files -->

		<script src="/dist/website/js/jquery-1.11.1.min.js"></script>
		<script src="/dist/bootstrap/js/bootstrap.min.js"></script>
		#parse("./common/analytics.html")
	</body>

</html>