<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/dist/css/chorme.css" />
	</head>

	<body>
		<div class="box">
			<h1>浏览器版本太低，将无法访问该页面</h1>
			<h4>请选用以下浏览器打开</h4>
			<hr/>
			<div class="center">
				<a class="item" href="javascript:"><img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1336155832,189480530&fm=58" alt="火狐" /></a>
				<a class="item" href="javascript:"><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=4082721491,3981845853&fm=58" alt="google" /></a>
				<a class="item this" href="javascript:"><img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2711319286,2926708391&fm=58" alt="uc" /></a>
			</div>
			<h4>OR</h4>
			<div class="center">
				<a class="item" href="javascript:">QQ 浏览器</a>
				<a class="item" href="javascript:">百度浏览器</a>
				<a class="item" href="javascript:">360 浏览器</a>
			</div>
		</div>
	</body>

</html>