<footer class="footer">
	<div class="container bc">
		<!--<div class="footer-service c">
			<ul class="list-service">
				<li><img class="pr" src="/img/pc_img/service-icon.png" />2小时快修服务</li>
				<li><img class="pr" src="/img/pc_img/ret-icon.png" />7天无理由退货</li>
				<li><img class="pr" src="/img/pc_img/change-icon.png" />15天免费换货</li>
				<li><img class="pr" src="/img/pc_img/fpost-icon.png" />满400包邮</li>
				<li><img class="pr" src="/img/pc_img/pot-icon.png" />100余家售后网点</li>
			</ul>
		</div>-->
		<div class="footer-links tac c">
			<!--<dl class="dl-links">
                <dt>帮助中心</dt>
                <dd><a href="javascript:void(0)">账户管理</a></dd>
                <dd><a href="javascript:void(0)">产品说明</a></dd>
                <dd><a href="javascript:void(0)">问题留言</a></dd>
            </dl>-->
			<dl class="dl-links">
				<dt>关于可点</dt>
				<dd>
					<a href="/about/know">了解可点</a>
				</dd>
				<!--<dd><a href="javascript:void(0)">加入可点</a></dd>-->
				<dd>
					<a href="/about/contact">联系我们</a>
				</dd>
			</dl>
			<dl class="dl-links">
				<dt>关注我们</dt>
				<dd>
					<a id="to-subscription" href="javascript:void(0)">微信订阅号</a>
				</dd>
				<dd>
					<a id="to-service" href="javascript:void(0)">微信服务号</a>
				</dd>
			</dl>
			<div class="f-contact fr">
				<p class="phone-number fs22 lh1">400-775-9206</p>
				<p class="fs12"><span>周一至周五 9:00-17:00</span></p>
				<a class="online-call dlb fs12" href=""><img class="mr5" src="/img/pc_img/online-icon.png" />24小时在线客服</a>
			</div>
		</div>
		<div class="tac c" style="padding:10px;border-top: 1px solid #e0e0e0;line-height: 20px;color: #747884;">
			<small>沪ICP备16015040号-2 上海市徐汇区虹梅路2071号二号楼311室<br/>
			Copyright © 2016-$nowYear, HALOKIT.CN, All Rights Reserved</small>
		</div>

	</div>
</footer>