<div id="mask" class="mask none">
</div>
<div id="login" class="login win-postion none pr">
    <a id="close-btn" class="close-btn db pr c" href="javascript:void(0)"><img class="fr" src="/img/pc_img/close.png" /></a>
    <div class="login-til tac pr">
        <img class="mb5" src="/img/pc_img/login_acc.png" />
        <h4 class="fs18 lh2">登录可点账号</h4>
        <p class="">Landing</p>
    </div>
    <div class="ipt-area mt30">
        <input id="phone" class="ipt-item db bc mb15" type="text" name="phone" placeholder="手机号 Phone Number" />
        <input id="password" class="ipt-item db bc" type="password" name="password" placeholder="密码 Password" />
        <div class="error w300 pd15 mt5 bc"></div>
        <button class="login-btn db bc mt15">立即登录</button>
    </div>
    <span class="other-login db mt15 tac w1 pr fc9">其他方式登录</span>
    <div class="choose-login mt25">
        <div class="w300 c bc tac">
            <a class="dlb mr10" id="wechatlogin" href="/login/towechat"><img src="/img/pc_img/weichat_icon.png" alt="WeChat"></a>
            <!-- /img/pc_img/QQ_icon.png -->
            <a class="dlb ml10" id="qqlogin" href="javascript:"><img src="/img/pc_img/QQ_icon.png" alt="QQ"></a>
        </div>
    </div>
    <div class="register-forget mt30">
        <div class="w300 bc tac fc9">
            <a id="login-to-register" href="javascript:void(0)">注册可点账号</a>
            <!-- <i class="i-line dlb vam"></i>
            <a href="#">忘记密码</a> -->
        </div>
    </div>
</div>
