	<meta charset="UTF-8" />
	<!-- qq登陆审核 -->
	<meta property="qc:admins" content="216402624760147314636" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<!-- seo 搜索优化， 所有关键字，添加到上面一行，以逗号（英文的 “ , ”）分开 -->
	<meta name="description" content="派慕（上海）信息科技有限公司是一家以关注宠物健康和行为，解决主人在养宠过程中各类问题为核心，研发各类宠物智能硬件的科技型企业">
	<meta name="keyword" content="派慕科技,halo kit,halo,kit,halokit,派慕,宠物,智能项圈,宠物智能硬件,宠物网,宠物商城,宠物猫,宠物狗,宠物医疗,宠物医院,宠物百科,宠物大全,宠物论坛,狗,猫,狗狗,猫猫,项圈,智能,可点,点,防丢,狗圈,狗生,铲屎,狗丢失,狗丢了,狗跑丢,胸背带,网红狗,纯种狗,王可可,狗智商,狗种类,狗饰品,狗狗饰品,狗狗种类,狗狗智商,防丢设备,宠物牵引,狗狗项圈,宠物洗澡,宠物走丢,宠物丢失,宠物定位,狗狗的品种大全,狗的品种大全,猫猫的品种大全,猫的品种大全,狗生病,狗项圈,狗颈圈,颈圈,宠物防丢,宠物项圈,宠物生病,宠物胸背,宠物定位器,狗带,铲屎官,狗图片,狗狗图片,狗智商排名,狗狗智商排名,狗照片,狗狗照片,狗品种,狗狗品种,狗的品种大全,项圈,买狗,狗狗销售,狗销售,牵引,牵引带,牵引绳,CKU,宠物美容">
	<!-- seo 搜索优化结束 -->
	<meta name="author" content="派幕（上海）信息科技有限公司">
	<link rel="icon" href="/favicon.ico?v=1" type="image/x-icon" media="screen" />
	<link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon" media="screen" />