<div id="mask" class="mask none">
</div>
<div id="register" class="register win-postion none pr">
    <a id="close-btn" class="close-btn db pr c" href="javascript:void(0)"><img class="fr" src="/img/pc_img/close.png" /></a>
    <div class="register-til tac pr">
        <img class="mb5" src="/img/pc_img/regis_acc.png" />
        <h4 class="fs18 lh2">注册可点账号</h4>
        <p class="">Resgistered</p>
    </div>
    <div class="ipt-text mt30">
        <input id="rePhone" class="ipt-item db bc mb20" type="text" placeholder="请输入您的手机号 Phone Number" />
        <label class="captcha-ipt db bc mb20">
            <input id="reCaptcha" class="ipt-item" type="text" maxlength="4" placeholder="请输入短信验证码" />
            <button class="dlb pt10 pb10" id="captcha-btn" href="#">获取短信验证码</button>
        </label>
        <input id="newPassword" class="ipt-item db bc mb20" type="password" placeholder="设置您的密码(至少6位数)" />
        <input id="rePassword" class="ipt-item db bc" type="password" placeholder="重复您的密码" />
        <div class="reError w300 pd15 mt5 bc"></div>
        <button class="register-btn db bc mt20 pt10 pb10">注册</button>
    </div>
</div>
</body>
