<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>Halo kit</title>
    <link rel="icon" sizes="any" href="/img/icon.png" />
    <link rel="stylesheet" href="/dist/css/pc_css/all.css" />
    <link rel="stylesheet" href="/dist/css/pc_css/change.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/pc_css/sprite.css">
</head>

<body>
    #parse ('./common/header.html')
    <main class="main-wrap">
        <section class="change-index bc pr">
            <div class="change-box fr pr">
                <h3 class="fs20 mb20">修改密码 Change Password</h3>
                <input class="old-password db mb30" type="password" name="old-password" placeholder="输入您的旧密码 Password" />
                <input class="db" type="password" name="new-password" placeholder="输入您的新密码 New Password" />
                <input class="db" type="password" name="new-password" placeholder="再次输入您的新密码 New Password" />
                <button>完成</button>
            </div>
        </section>
    </main>
</body>

</html>
